<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found - Cheqqit</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            height: 256px;
        }
    </style>
</head>
<body>
    <img src="/static/img/error-404.svg" class="center" alt="">
    <h2 style="text-align: center;">The page you are looking for couldn't be found</h2>
</body>
</html>