<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
  crossorigin="anonymous">
  <title>
    {% block title %}
    Cheqqit: Task management, to-do list, and checklist
    {% endblock title %}
  </title>
  <link rel=" icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
</head>

<body>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>