{% extends 'base.html' %}

{% block title %}Features - Cheqqit{% endblock title %}

{% block content %}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, voluptas fugiat doloremque deserunt sed soluta eos animi dicta reprehenderit amet distinctio modi in culpa molestias iusto debitis illo? Expedita ipsum praesentium doloribus placeat velit culpa assumenda laborum, asperiores nulla nam tempora laboriosam doloremque voluptas eveniet corrupti nesciunt veritatis aperiam rerum eius! Id, illum molestias expedita ipsa est beatae omnis hic! Nisi ipsum quod ipsam doloribus facilis unde nulla in vitae odit deleniti quisquam eveniet sit quasi aliquid, fugiat non laborum. Mollitia distinctio vel rem voluptatum repudiandae tenetur voluptates sunt, vero voluptas, ipsum consequuntur inventore nihil corrupti aliquam adipisci similique. Doloribus at maxime accusamus delectus quibusdam nihil corrupti nostrum eum hic totam veritatis modi fuga magni, reprehenderit repellendus eos fugit placeat ratione consectetur cupiditate ipsum assumenda.
{% endblock content %}