{% extends 'base.html' %}
{% load static %}

{% block title %}Features - Cheqqit{% endblock title %}

{% block content %}
<section class="text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Organize every aspect of your life</h1>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/organize_image.svg' %}"/>
    </div>
  </div>
</section>
{% endblock content %}