{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Inbox - Cheqqit {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/109fe23f15.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
</head>

<body>
    {% include 'sidebar.html' %}
    <section class="home-section" style="background-color: white;">
        <div class="text" style="margin-left: 34px;"><legend>Inbox</legend></div>
        {% for message in messages %}
        <div class="alert alert-success" id='alert_msg' style="width: 40%; margin-left: 605px;">
            <button type="button" class="close" data-dismiss="alert" style="outline: none;">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <div style="margin-left: 34px;">
            <form id="form" method="post" action="">
                {% csrf_token %}
                {% for task in tasks %}
                {% if task.completed_task == False %}
                <i class='bx bx-checkbox' style="font-size: 25.5px; vertical-align: middle; font-weight: lighter;"></i>
                <label for="task"><a href="{% url 'task_detail' task.slug %}" style="text-decoration: none;color: black; margin-left: 3.5px;">{{task|capfirst|truncatechars:30}}</a></label><br>
                {% if task.description != '' and task.task_due_time != None and task.task_due_date != None %}
                <div style="margin-left: 25.5px; color: lightslategrey;">{{ task.description|truncatechars:50 }}</div>
                <div style="margin-left: 25.5px;"><i class='bx bx-calendar' style="font-size: 14.5px;"> {{task.task_due_date}}</i>  ||  <i class='bx bx-time' style="font-size: 14.5px;"> {{task.task_due_time}}</i></div>
                {% elif task.description != '' and task.task_due_time == None and task.task_due_date == None %}
                <div style="margin-left: 25.5px; color: lightslategrey;">{{ task.description|truncatechars:50 }}</div>
                {% elif task.description == '' and task.task_due_time == None and task.task_due_date != None %}
                <div style="margin-left: 25.5px;"><i class='bx bx-calendar' style="font-size: 14.5px;"> {{task.task_due_date}}</i></div>
                {% elif task.description == '' and task.task_due_time != None and task.task_due_date == None %}
                <div style="margin-left: 25.5px;"><i class='bx bx-time' style="font-size: 14.5px;"> {{task.task_due_time}}</i></div>
                {% elif task.description != '' and task.task_due_time == None and task.task_due_date != None %}
                <div style="margin-left: 25.5px; color: lightslategrey;">{{ task.description|truncatechars:50 }}</div>
                <div style="margin-left: 25.5px;"><i class='bx bx-calendar' style="font-size: 14.5px;"> {{task.task_due_date}}</i></div>
                {% elif task.description != '' and task.task_due_time != None and task.task_due_date == None %}
                <div style="margin-left: 25.5px; color: lightslategrey;">{{ task.description|truncatechars:50 }}</div>
                <div style="margin-left: 25.5px;"><i class='bx bx-time' style="font-size: 14.5px;"> {{task.task_due_time}}</i></div>
                {% elif task.description == '' and task.task_due_time != None and task.task_due_date != None %}
                <div style="margin-left: 25.5px;"><i class='bx bx-calendar' style="font-size: 14.5px;"> {{task.task_due_date}}</i> || <i class='bx bx-time' style="font-size: 14.5px;"> {{task.task_due_time}}</i></div>
                {% elif task.description == '' and task.task_due_time == None and task.task_due_date == None %}
                {% endif %}
                <hr>
                {% endif %}
                {% endfor %}

            </form>
        </div>
            
    </section>

    <script>
        setTimeout(function () {
            if ($('#alert_msg').length > 0) {
                $('#alert_msg').remove();
            }
        }, 7000)
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>