<div class="sidebar">
    <div class="logo-details">
        
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-inbox'></i>
                <span class="links_name">Inbox</span>
            </a>
            <span class="tooltip">Inbox</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-calendar'></i>
                <span class="links_name">Today</span>
            </a>
            <span class="tooltip">Today</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-purchase-tag-alt'></i>
                <span class="links_name">Labels</span>
            </a>
            <span class="tooltip">Labels</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-check-square'></i>
                <span class="links_name">Completed Tasks</span>
            </a>
            <span class="tooltip">Completed Tasks</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-trash'></i>
                <span class="links_name">Trash</span>
            </a>
            <span class="tooltip">Trash</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Prem Shahi</div>
                    <div class="job">Web designer</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="text">Cheqqit</div>
</section>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
        } else {
            closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
        }
    }
</script>