<div class="sidebar">
    <div class="sidebar_btn">
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search' id="search_btn"></i>
            <input type="text" placeholder="Search..." id="search_input">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-inbox'></i>
                <span class="links_name">Inbox</span>
            </a>
            <span class="tooltip">Inbox</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-calendar'></i>
                <span class="links_name">Today</span>
            </a>
            <span class="tooltip">Today</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-purchase-tag-alt'></i>
                <span class="links_name">Labels</span>
            </a>
            <span class="tooltip">Labels</span>
        </li>
        <li>
            <a href="#">
                <i class="far fa-check-square"></i>
                <span class="links_name">Completed Tasks</span>
            </a>
            <span class="tooltip">Completed Tasks</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-trash'></i>
                <span class="links_name">Trash</span>
            </a>
            <span class="tooltip">Trash</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Emmanuel Tanimowo</div>
                </div>
            </div>
            <a href="{% url 'logout' %}">
                <i class='bx bx-log-out' id="log_out"></i>
                <span class="links_name">Account and settings</span>
                <span class="tooltip">Account and settings</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="text">Cheqqit</div>
</section>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector("#search_btn");
    let searchInput = document.querySelector("#search_input");

    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
    });
    // function hoverColor() {
    //         document.getElementById("search_btn").style.color = "white";
    // }
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-x")
            sidebar.addEventListener('click', () => searchBtn.style.background = 'rgb(163, 88, 233)')
            sidebar.addEventListener('click', () => searchInput.style.background = 'rgb(163, 88, 233)')
        } else {
            closeBtn.classList.replace("bx-x", "bx-menu")
            sidebar.addEventListener('click', () => searchBtn.style.background = 'blueviolet')
            sidebar.addEventListener('click', () => searchInput.style.background = 'blueviolet')
            // sidebar.addEventListener('click', () => searchBtn.style.hover = 'white')
            // document.getElementById("search_btn").style.color = "white";
        }
    }
</script>