<div class="sidebar">
    <div class="sidebar_btn">
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search'></i>
            <form method="GET" style="display: flex;">
                <input type='text' name='search-area' placeholder="Search for a task..." value="{{search_input}}">
            </form>
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a href="{% url 'create_task' %}">
                <i class='bx bx-plus' style="font-size: 29px;"></i>
                <span class="links_name">Add Task</span>
            </a>
            <span class="tooltip">Add Task</span>
        </li>
        <li>
            <a href="{% url 'inbox' %}">
                <i class='bx bxs-inbox'></i>
                <span class="links_name">Inbox&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{no_of_undone_tasks}}</span>
            </a>
            <span class="tooltip">Inbox</span>
        </li>
        <li>
            <a href="{% url 'today' %}">
                <i class='bx bx-calendar'></i>
                <span class="links_name">Today</span>
            </a>
            <span class="tooltip">Today</span>
        </li>
        <li>
            <a href="{% url 'completed_tasks' %}">
                <i class="far fa-check-square"></i>
                <span class="links_name">Completed Tasks</span>
            </a>
            <span class="tooltip">Completed Tasks</span>
        </li>
        <li class=""user_profile>
            <a href="{% url 'logout' %}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Sign Out</span>
            </a>
            <span class="tooltip">Sign Out</span>
        </li>
    </ul>
</div>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
    closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
    });
    searchBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
    });
    function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
            closeBtn.classList.replace("bx-menu", "bx-x")
        } else {
            closeBtn.classList.replace("bx-x", "bx-menu")
        }
    }
</script>