{% extends 'base.html' %}
{% block title %}Sign Up - Cheqqit{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
  <br><br>
  <img src="/static/img/img.png" class="center-img" height="43px">
  <br>
  <p style="font-size: 27px; text-align: center;">Sign up for Cheqqit</p>
  <div class="container-fluid padding" style="margin: auto; float: none; margin-bottom: 10px">
    <div>
      <div class="mx-auto" style="width: 310px;">
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <br>
              <button type="submit" class="btn btn-success mx-auto d-block form-control">Sign Up</button>
              <br>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}" style="text-decoration: none;">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}