<section class="home-section" style="background-color: white;">
    <div class="text" style="margin-left: 34px;">
        <legend>Add Task</legend>
    </div>
    <div style="margin-left: 34px;">
        <div class="container-fluid padding" style="margin: auto; float: none; margin-bottom: 10px">
            <div>
                <div class="mx-auto" style="width: 600px;">
                    <div class="card" style="border-color: blueviolet; border-style: solid; border-radius: 23px;">
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-success" box-shadow="none">Save</button>
                                <button type="button" class="btn btn-danger"><a href="{% url 'inbox' %}"
                                        style="text-decoration: none; color: white;"
                                        box-shadow="none">Cancel</a></button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>